.row {
    margin: 1rem;
}

.is-fullheight {
    height: 100%;
}

.has-hover-grow {
    transition: 0.2s;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.99);
    }
}

html {
    background: #f1f2f3;
}

.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    &:after {
        @include loader;
        position: absolute;
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
        width: 5em;
        height: 5em;
        border-width: 0.25em;
    }
}
