/** Import the Bulma variables */
@import 'variables';

/** Import Bulma */
@import '~bulma';

/** Import overrides */
@import 'overrides';

/** Import misc */
@import 'misc';

.stat {
    // margin: 2rem;
    padding: 2rem;
    text-align: center;
    background: #fff;

    .stat-title {
        font-size: 2rem;
    }
    .stat-value {
        font-size: 5rem;
    }
    .stat-description {
        text-align: right;
    }
}

.chart {
    background: #fff;
    padding: 2rem;
    height: 25rem;
}

.durations {
    display: flex;
    justify-content: flex-end;

    .duration {
        padding-left: 0.5rem;
        cursor: pointer;

        &.active {
            font-weight: bold;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
